<section class="large-cta">
  <h1>Segera hubungi kami di</h1>
  <a href="https://api.whatsapp.com/send?text=MAU%20RENTAL%20MOBIL%20(Nama)%20(Alamat%20Lengkap)%20&phone=6282230908740">
    <amp-img
        noloading
        height=100
        width=100
        layout=fixed
        src="/static/img/whatsapp-symbol.svg">
    </amp-img>
  </a>
  <a href="sms:+6282230908740">
    <amp-img
        noloading
        height=100
        width=100
        layout=fixed
        src="/static/img/sms.svg">
    </amp-img>
  </a>
  <a href="tel:+6282230908740">
    <amp-img
        noloading
        height=100
        width=100
        layout=fixed
        src="/static/img/phones-symbol.svg">
    </amp-img>
  </a>
</section>