<footer>
 <div class="container">
    <div class="row">
        <div class="twelve columns footer-icons">
          <a href="https://klikada.com/">
            <amp-img
                noloading
                height=40
                width=40
                layout=fixed
                src="/static/img/klikadadotcom.svg">
            </amp-img>
          </a>&nbsp;&nbsp;
          <a href="https://www.facebook.com/">
            <amp-img
                noloading
                height=30
                width=30
                layout=fixed
                src="/static/img/facebook-icon.svg">
            </amp-img>
          </a>&nbsp;&nbsp;
          <a href="https://www.instagram.com/">
            <amp-img
                noloading
                height=30
                width=30
                layout=fixed
                src="/static/img/instagram-logo.png">
            </amp-img>
          </a>&nbsp;&nbsp;
          <a href="https://goo.gl/jTs6l3">
            <amp-img
                noloading
                height=30
                width=30
                layout=fixed
                src="/static/img/whatsapp-symbol.svg">
            </amp-img>
          </a>&nbsp;&nbsp;
          <a href="sms:+6282230908740">
            <amp-img
                noloading
                height=30
                width=30
                layout=fixed
                src="/static/img/sms-black.svg">
            </amp-img>
          </a>&nbsp;&nbsp;
          <a href="tel:+6282230908740">
            <amp-img
                noloading
                height=30
                width=30
                layout=fixed
                src="/static/img/phones-symbol.svg">
            </amp-img>
          </a>
        <!-- <a href="//twitter.com/">
          <div class="footer-image twitter"></div>
        </a>
        <a href="/">
          <div class="footer-image wordpress">
          </div>
        </a> -->
      </div>
    </div>
  </div>
</footer>