<!DOCTYPE html>
<html ⚡ lang="en">
<head>
<!-- metadata -->{% include metadata.html %}
<title>{{ page.title }} - Rental Mobil Tulungagung</title>
<!-- favicon -->{% include favicon.html %}
<!-- canonical -->{% include canonical.html %}
<!-- manifest -->{% include manifes.html %}
<!-- apple-mobile -->{% include apple-mobile.html %}
<!-- font -->{% include font.html %}
<!-- amp-project -->{% include amp-project.html %}
<!-- amp-sidebar -->{% include amp-sidebar-js.html %}
<!-- amp-accordion -->{% include amp-accordion-js.html %}
<!-- amp-analytics -->{% include amp-analytics-js.html %}
<!-- amp-install-serviceworker -->{% include amp-install-serviceworker-js.html %}
<!-- amp-form-js -->{% include amp-form-js.html %}
<!-- amp-custom-faq -->{% include amp-custom-faq.html %}
<!-- amp-boilerplate -->{% include amp-boilerplate.html %}
</head>
<body class="faqs">
<!-- analytics -->{% include analytics.html %}
<!-- nav -->{% include nav.html %}
<div class="wrap">

<!-- breadcrumb -->
<div class="container md">
  <div class="content">
    <article class="post">
      <h1 class="post-title"> {{ page.title }} </h1>
      <div class="post-content">
        <amp-accordion>

            {{ content }}

        </amp-accordion>
      </div>
    </article>
  </div>
</div>
<!-- cta-small -->{% include cta-small.html %}
<!-- footer -->{% include footer.html %}
<!-- serviceworker -->{% include serviceworker.html %}
</body>
</html>