<!DOCTYPE html>
<html ⚡ lang="en">
<head>
<!-- metadata -->{% include metadata.html %}
<title>{{ page.title }}</title>
<!-- favicon -->{% include favicon.html %}
<!-- canonical -->{% include canonical.html %}
<!-- manifest -->{% include manifes.html %}
<!-- apple-mobile -->{% include apple-mobile.html %}
<!-- font -->{% include font.html %}
<!-- amp-project -->{% include amp-project.html %}
<!-- amp-sidebar -->{% include amp-sidebar-js.html %}
<!-- amp-accordion -->
<!-- amp-analytics -->{% include amp-analytics-js.html %}
<!-- amp-install-serviceworker -->{% include amp-install-serviceworker-js.html %}
<!-- amp-form-js -->{% include amp-form-js.html %}
<!-- amp-carousel-js --> {% include amp-carousel-js.html %}
<!-- amp-custom-home -->{% include amp-custom-home.html %}
<!-- amp-boilerplate -->{% include amp-boilerplate.html %}
</head>
<body class="home">
<!-- analytics -->{% include analytics.html %}
<!-- nav -->{% include nav.html %}
  <div class="wrap">
    <div class="content">
    {{ content }}
<!-- cta-large -->{% include cta-large.html %}
<!-- footer -->{% include footer.html %}
<!-- serviceworker -->{% include serviceworker.html %}
    </div>
  </div>

</body>
</html>