<!DOCTYPE html>
<html ⚡ lang="en">
<head>
<!-- metadata -->{% include metadata.html %}
<title>{{ page.title }} - Rental Mobil Tulungagung</title>
<!-- favicon -->{% include favicon.html %}
<!-- canonical --><link rel="canonical" href="{{ page.canonical }}">
<!-- manifest -->{% include manifes.html %}
<!-- apple-mobile -->{% include apple-mobile.html %}
<!-- font -->{% include font.html %}
<!-- amp-project -->{% include amp-project.html %}
<!-- amp-sidebar -->{% include amp-sidebar-js.html %}
<!-- amp-analytics -->{% include amp-analytics-js.html %}
<!-- amp-install-serviceworker -->{% include amp-install-serviceworker-js.html %}
<!-- amp-form-js -->{% include amp-form-js.html %}
<!-- amp-custom-price -->{% include amp-custom-post.html %}
<!-- amp-boilerplate -->{% include amp-boilerplate.html %}
</head>
<body class="case-studies bg-triangle-secondary">
<!-- analytics -->{% include analytics.html %}
<!-- nav -->{% include nav.html %}
<div class="wrap">
<!-- breadcrumb -->
<div class="container lg">
  <div class="content">
    <article class="post">
      <h1 class="post-title"> {{ page.title }} </h1>
      <div class="post-content">      
        <div class="card-container grid case">
          {{ content }}
        </div>
      </div>
    </article>
  </div>
</div>
<!-- cta-large -->{% include cta-small.html %}
<!-- footer -->{% include footer.html %}
<!-- serviceworker -->{% include serviceworker.html %}
</body>
</html>