<!DOCTYPE html>
<html ⚡ lang="en">
<head>
<!-- metadata -->{% include metadata.html %}
<title>{{ page.title }} - Rental Mobil Tulungagung</title>
<!-- favicon -->{% include favicon.html %}
<!-- canonical --><link rel="canonical" href="{{ page.canonical }}">
<!-- manifest -->{% include manifes.html %}
<!-- apple-mobile -->{% include apple-mobile.html %}
<!-- font -->{% include font.html %}
<!-- amp-project -->{% include amp-project.html %}
<!-- amp-sidebar -->{% include amp-sidebar-js.html %}
<!-- amp-accordion -->
<!-- amp-analytics -->{% include amp-analytics-js.html %}
<!-- amp-install-serviceworker -->{% include amp-install-serviceworker-js.html %}
<!-- amp-form-js -->{% include amp-form-js.html %}
<!-- amp-carousel-js -->
<!-- amp-custom-about -->{% include amp-custom-project.html %}
<!-- amp-boilerplate -->{% include amp-boilerplate.html %}
</head>
<body class="design-principles bg-triangle-primary">
<!-- analytics -->{% include analytics.html %}
<!-- nav -->{% include nav.html %}
	<div class="wrap">
<!-- breadcrumb -->
  		<div class="container xl">
		    <div class="title">
		      	<h1>Testimoni</h1>
		      		<p class="subtitle">Kami ucapkan terimakasih atas kepercayaan Bapak dan Ibu semua, Kami berharap kerjasama akan terus terjalin dilain waktu dan kesempatan.</p>
		    </div>
    		<div class="principles">
      			<div class="principles-col">
      				{{ content }}
            	</div>
    		</div>
  		</div>
<!-- cta-large -->{% include cta-small.html %}
<!-- footer -->{% include footer.html %}
<!-- serviceworker -->{% include serviceworker.html %}
</body>
</html>